@use 'sass:map';
@use './vars';

.container {
  margin: 1.5rem auto 0;
  width: 80%;

  p {
    font-size: larger;

    a {
      color: vars.$font-color;
      text-decoration: underline vars.$accent-color;
      transition: color vars.$default-transition-duration;

      &:hover {
        color: vars.$accent-color;
        transition: color vars.$default-transition-duration;
      }
    }
  }
}

@media (max-width: map.get(vars.$breakpoints, lg)) {
  .container {
    margin-left: 1rem;
  }
}

@media (max-width: map.get(vars.$breakpoints, sm)) {
  .container {
    font-size: small;
  }
}
