@use './vars';

.button {
  cursor: pointer;
  border: none;
  min-width: 110px;
  min-height: 25px;
  border-radius: 5px;
  background: grey;
  margin-top: 1.5rem;
  padding: 10px;
  transition: all 0.3s;

  &:hover {
    background: rgb(255, 80, 80);
    transform: scale(1.1);
    transition: all 0.3s;
  }
}
