@use 'sass:map';
@use './vars';

.container {
  @extend %data-div;

  .imageContainer {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: map.get(vars.$breakpoints, md)) {
  .container {
    .imageContainer {
      display: none;
    }
  }
}
