@use 'sass:map';
@use './vars';

.container {
  @extend %data-div;

  img {
    top: 1.5rem;
    right: 1.5rem;
  }
}

@media (max-width: map.get(vars.$breakpoints, md)) {
  %data-div {
    margin: 0 1rem 1rem 1rem;
    font-size: smaller;

    img {
      margin-top: 0.5rem;
      height: 70px;
      width: 70px;
      top: 4.5rem;
      right: 1.5rem;
    }
  }
}
