@use 'sass:map';
@use './vars';

.container {
  font-size: larger;
  display: block;
  width: vars.$menu-width;
  border-right: 2px solid red;
  min-height: 88vh;

  ul {
    position: sticky;
    top: 0;
    list-style: none;
    padding: 0;

    .li {
      transition: all 0.2s ease-in-out;
      padding-top: 2rem;
      text-align: center;

      .link {
        text-decoration: none;
        color: vars.$font-color;
        transition: color vars.$default-transition;

        &Active {
          color: vars.$font-color;
          border-bottom: 3px solid vars.$accent-color;
          text-decoration: none;
          transition: color vars.$default-transition;
        }
      }
    }
  }
}

@media (max-width: map.get(vars.$breakpoints, lg)) {
  .container {
    font-size: large;
    width: 20%;
  }
}

@media (max-width: map.get(vars.$breakpoints, sm)) {
  .container {
    font-size: small;
  }
}
